{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules" : {
    "semi": [2, "never"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": 0
  },
  "env": {
    "mocha": true
  }
}